body {
  padding: 0; 
  margin: 0;
  width: 100%;
  background-color: transparent !important;
  border: 0;
}


#debug-box {
  position: absolute;
  right: 0; bottom: 0;
  opacity: 0.6;
  z-index: 3;
  margin-right: 20px;
}
#debug-box > * {
  display: inline-block;
  background: #F0F0F0;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}


#panels {
  border: 15px solid #ddd; 
  -moz-border-radius: 20px;
  background-color: #ddd;
}
#panels-selection {
  background-color: #ddd;
  text-align: center;
  font-family: verdana;
  -moz-user-select: none;
  -moz-user-focus: ignore;
}
#panels-selection > *{
  margin-left: 15px;
  background-color: #d7d7d7;
  border: 1px solid #ddd;
  -moz-border-radius: 5px 5px 0 0;
  padding: 3px 10px 0 10px;
  cursor: pointer;
}
#panels-selection > *.current {
  border-bottom: 1px solid #eee;
  background-color: #eee;
}
#panels-selection > span:hover{
  text-decoration: underline;
  background-color: #eee;
  border-bottom: 1px solid #eee;
}

.panel {
  display: none;
  background-color: #eee;
  -moz-border-radius: 5px;
  border: 1px solid #eee;
  margin: 0;
}
.panel.current {
  display: block;
}
.panel > *:first-child {
  -moz-border-radius: 5px 5px 0 0;
}
.panel > *:last-child {
  -moz-border-radius: 0 0 5px 5px;
}

.panel .actions {
  padding-left: 2.2em;
  height: 1.5em;
  font-family: verdana;
  line-height: 1.5em;
}
.panel .actions > * {
  float: left;
  padding-right: 20px;
  cursor: pointer;
}
.panel .actions > span:hover {
  color: #00c;
}

/******************************/
/*   EDIT PANEL               */

#panel-edit .CodeMirror-line-numbers-layer {
  bottom: 0;
  height: auto !important;
  -moz-border-radius: 0 0 0 5px;
  border: 1px solid #eee;
}

.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  font-size: 10pt;
  font-family: monospace;
  padding-top: .4em;
  -moz-user-select: none;
  cursor: default;
}
.CodeMirror-line-numbers > div {
  padding-right: .3em;
}
.CodeMirror-line-numbers .pass {
  background-color: lightgreen;
}
.CodeMirror-line-numbers .fail {
  background-color: red;
}
.CodeMirror-line-numbers .error {
  background-color: orange;
}
.CodeMirror-line-numbers .message {
  background-color: #ddd;
}
.CodeMirror-line-numbers .screenshot {
  background-color: #dde;
}

#code-editor-container {
  background-color: white;
}

#line-tooltip {
  display:none; 
  z-index:1000;
  border: 1px solid #ddd;
  -moz-box-shadow:1px 1px 10px #000; 
  background: rgba(238,238,238,0.95);
  color: black;
  -moz-border-radius: 10px;
  padding:10px 15px; 
  text-align: center;
}
#line-tooltip:hover {
  background: rgba(238,238,238,1);
}
#line-tooltip .title {
  
}
#line-tooltip .message {
  font-family: courier;
  font-size: 10px;
}
#line-tooltip .screenshot {
  margin-top: 10px;
  -moz-box-shadow:0 0 6px 1px rgba(0,0,255,0.4);
  -moz-border-radius: 3px;
  border: 1px solid transparent;
}

.CodeMirror-wrapping {
  width: auto !important;
}


/******************************/
/*   REPORT PANEL             */
#panel-report {
  padding: 10px;
}
#report-list {
  padding: 0px;
  font-family: verdana;
  font-size: 10px;
}
#panel-report li {
  list-style-type: none;
  margin:0;
}
#panel-report li.pass,#panel-report li.fail {
  -moz-border-radius: 5px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin:5px;
}
#panel-report li.pass {
  background-color: lightgreen;
  border: 1px solid green;
}
#panel-report li.fail {
  background-color: #FFE0E0;
  border: 1px solid red;
}


/******************************/
/*   SETTINGS PANEL           */

#panel-settings {
  padding: 10px;
}

.change-path {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
span.change-path:hover {
  text-decoration: underline;
}
input[type="checkbox"] {
  margin-left: 20px;
}
input[type="checkbox"]+span {
  cursor: pointer;
  -moz-user-select:none;
}