
body {
  padding: 0; 
  margin: 0;
  background-color: #999;
  overflow: hidden;
}

#titlebar {
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  padding-left: 15px;
  text-align: left;
  font-family: verdana;
  font-size: 18px;
  font-style: italic;
  background: #999;
  cursor: default;
}

#close-button {
  position:absolute;
  top:2px;right:5px; 
  font-family:arial; font-weight: bold; font-size: 14px; 
  cursor: pointer; 
  background: #d7d7d7; color: gray; 
  -moz-border-radius: 10px; 
  width: 20px; height: 20px; 
  text-align: center; line-height: 18px;
  border: 1px solid #888;
}
#close-button:hover {
  color: black;
  background: #eee;
  border-color: gray;
}

#debug-box {
  position: absolute;
  right: 5px; bottom: 20px;
  opacity: 0.6;
  z-index: 3;
  margin-right: 20px;
}
#debug-box > * {
  display: inline-block;
  background: #F0F0F0;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}


#panels {
  position: relative;
  padding: 15px; 
  min-width: 660px;
  background-color: #ddd;
  -moz-border-radius: 10px;
}
#panels-selection {
  background-color: #ddd;
  text-align: center;
  font-family: verdana;
  -moz-user-select: none;
  -moz-user-focus: ignore;
}
#panels-selection > *{
  margin-left: 15px;
  color: gray;
  background-color: #d7d7d7;
  border: 1px solid #888;
  -moz-border-radius: 5px 5px 0 0;
  padding: 3px 10px 0 10px;
  cursor: pointer;
}
#panels-selection > *.current {
  border-bottom: 1px solid #eee;
  background-color: #eee;
  color: black;
}
#panels-selection > span:hover{
  background-color: #eee;
  color: black;
}
#panel-settings-button {
  position: absolute;
  right: 30px; top:11px;
}

.panel {
  display: none;
  background-color: #eee;
  -moz-border-radius: 5px;
  border: 1px solid #999;
  margin: 0;
}
.panel.current {
  display: block;
}
.panel > *:first-child {
  -moz-border-radius: 5px 5px 0 0;
}
.panel > *:last-child {
  -moz-border-radius: 0 0 5px 5px;
}

.panel .actions {
  position: relative;
  padding-left: 2.2em;
  height: 1.5em;
  font-family: verdana;
  line-height: 1.5em;
}
.panel .right-actions {
  position: absolute;
  right: 0; top: 0;
}
.panel .actions span {
  float: left;
  padding-right: 20px;
  cursor: pointer;
}
.panel .actions span:hover {
  color: #00c;
}

#save[changes="true"] {
  color: #C00000;
}

/******************************/
/*   EDIT PANEL               */

#panel-edit #report-line {
  padding-left: 2.2em;
  height: 1.5em;
  font-family: verdana;
  line-height: 1.5em;
  background-repeat: no-repeat;
  background-position: 5px 0;
  font-weight: bold;
  overflow-x: auto;
}

#panel-edit #report-line[status="in-process"] {
  background-image: url('throbber-24.gif');
}

#panel-edit #report-line[status="failed"] {
  background-image: url('tools-report-bug.png');
}

#panel-edit #report-line[status="success"] {
  background-image: url('dialog-ok-apply.png');
}

#panel-edit .CodeMirror-line-numbers-layer {
  bottom: 0;
  height: auto !important;
  -moz-border-radius: 0 0 0 5px;
  border: 1px solid #eee;
}

.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  font-size: 10pt;
  font-family: monospace;
  padding-top: .4em;
  -moz-user-select: none;
  cursor: default;
}
.CodeMirror-line-numbers > div {
  padding-right: .3em;
}
.CodeMirror-line-numbers .pass {
  background-color: lightgreen;
}
.CodeMirror-line-numbers .fail {
  background-color: red;
}
.CodeMirror-line-numbers .error {
  background-color: orange;
}
.CodeMirror-line-numbers .message {
  background-color: #ddd;
}
.CodeMirror-line-numbers .screenshot {
  background-color: #dde;
}
.CodeMirror-line-numbers div[tooltip="true"] {
  font-weight: bold;
  color: black;
}

#code-editor-container {
  background-color: white;
}

#line-tooltip {
  display:none; 
  z-index:1000;
  border: 1px solid #ddd;
  -moz-box-shadow:1px 1px 10px #000; 
  background: rgba(238,238,238,0.95);
  color: black;
  -moz-border-radius: 10px;
  padding:10px 15px; 
  text-align: center;
  max-height: 500px;
  max-width: 700px;
  overflow: auto;
}
#line-tooltip:hover {
  background: rgba(238,238,238,1);
}
#line-tooltip .title {
  
}
#line-tooltip .message {
  font-family: courier;
  font-size: 10px;
}
#line-tooltip .screenshot {
  margin-top: 10px;
  -moz-box-shadow:0 0 6px 1px rgba(0,0,255,0.4);
  -moz-border-radius: 3px;
  border: 1px solid transparent;
}

.CodeMirror-wrapping {
  width: auto !important;
}


/******************************/
/*   REPORT PANEL             */
#panel-report {
  padding: 10px;
}
#report-list {
  padding: 0px;
  font-family: verdana;
  font-size: 10px;
  overflow: auto;
}
#panel-report li {
  list-style-type: none;
  margin:0;
}
#panel-report li.pass,#panel-report li.fail {
  -moz-border-radius: 5px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin:5px;
}
#panel-report li.pass {
  background-color: lightgreen;
  border: 1px solid green;
}
#panel-report li.fail {
  background-color: #FFE0E0;
  border: 1px solid red;
}


/******************************/
/*   SETTINGS PANEL           */

#panel-settings {
  padding: 10px;
}

.change-path {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
span.change-path:hover {
  text-decoration: underline;
}
input[type="checkbox"] {
  margin-left: 20px;
}
input[type="checkbox"]+span {
  cursor: pointer;
  -moz-user-select:none;
}