
.sizer {
  cursor: pointer;
}
.sizer.horizontal {
  width: 10px;
}
.sizer.vertical {
  height: 10px;
}
.sizer.top {
  cursor: n-resize;
  background: -moz-linear-gradient(bottom, #999, transparent);  
}
.sizer.left, .sizer.bottom-left-top-bonus {
  cursor: w-resize;
  background: -moz-linear-gradient(right, #999, transparent);  
}
.sizer.right, .sizer.bottom-right-top-bonus {
  cursor: e-resize;
  background: -moz-linear-gradient(left, #999, transparent);  
}
.sizer.bottom, .sizer.bottom-left-right-bonus, .sizer.bottom-right-left-bonus {
  cursor: s-resize;
  /*-moz-border-radius: 0 0 5px 5px;*/
  background: -moz-linear-gradient(top, #999, transparent);
}

.sizer.bottom-left {
  cursor: sw-resize;
  background: -moz-radial-gradient(right top, #999, transparent 70%);
}
.sizer.bottom-left-top-bonus {
  height: 20px;
}
.sizer.bottom-left-right-bonus {
  width: 20px;
}

.sizer.bottom-right {
  cursor: se-resize;
  background: -moz-radial-gradient(top left, #999, transparent 70%);
  
}
.sizer.bottom-right-top-bonus {
  height: 20px;
  cursor: se-resize;
}
.sizer.bottom-right-left-bonus {
  width: 20px;
  cursor: se-resize;
}