box.action {
  -moz-binding:url('chrome://xul-macro/content/actions/action.xml#action');
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  /*-moz-box-flex: 1;*/
}
box.action box[anonid="action"] {
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-flex: 1;
}
menulist {
  -moz-appearance: none;
  max-width: 400px;
}

box[type="firefox-session"] [anonid="id"] {
  color:black;
  width: 50px;
}

box.node-selection {
  -moz-binding:url('chrome://xul-macro/content/actions/node-selection.xml#node-selection');
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-flex: 1;
}
box.node-selection image[anonid="preview"] {
  max-height: 100px;
  margin: 5px;
}

box.frame-selection {
  -moz-binding:url('chrome://xul-macro/content/actions/frame-selection.xml#frame-selection');
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-flex: 1;
}

box.frame-selection image[anonid="preview"] {
  max-height: 100px;
  margin: 5px;
}


richlistitem {
  padding: 5px;
  border-bottom: 2px dotted black;
}

richlistitem[selected="true"] {
  background-color: #F5F5FF;
  color: black;
}

label[anonid="error"] {
  text-align:center;
  font-weight: bold;
  background: #FFC0C0;
  color: black;
  border: 1px solid transparent;
  -moz-border-radius: 10px;
}

image[anonid="remove"] {
  list-style-image : url('close.png');
}
image[anonid="result"].success {
  list-style-image: url('dialog-ok-apply.png');
}
image[anonid="result"].fail {
  list-style-image: url('tools-report-bug.png');
}
image[anonid="execute"] {
  list-style-image: url('media-playback-start.png');
}
image[anonid="execute"].pending {
  list-style-image: url('spinfox.png');
  width: 22px; height: 22px;
}

image[anonid="close"] {
  list-style-image: url('window-suppressed.png');
  margin-right: 20px;
}

image[anonid="select-node"] {
  list-style-image: url('target.png');
}

label.desc {
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-left: 26px;
  height: 22px;
}
box[type="click"] label.desc {
  background-image: url('input-mouse.png');
}

box[type="keypress"] label.desc {
  background-image: url('accessories-character-map.png');
}

box[type="screenshot"] label.desc {
  background-image: url('camera-photo.png');
}

box[type="openurl"] label.desc {
  background-image: url('applications-internet.png');
}

tooltip, tooltip * {
  -moz-appearance:none;
  background: lightblue;
}